.container
  .header
    .header-logo
    .header-navi
  .containts
    %h2.header 会員情報の入力
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .content_inner
        .nickname-box
          .main
            .label  ニックネーム
            %span.require 必須
          = f.text_field :nickname, class: "form", placeholder: "例)ナオ太郎"
        .email-box
          .main
            .label  メールアドレス
            %span.require 必須
          = f.email_field :email, class: "form", autocomplete: "email", placeholder: "PC・携帯どちらでも可"
        .password-box
          .main
            .label  パスワード
            %span.require 必須
          = f.password_field :password, class: "form", autocomplete: "new-password", placeholder: "7文字以上"
        .iden-header
          .label  本人確認
          .info
            %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .name-kanji
          .main
            .label  お名前（全角）
            %span.require 必須
          = f.text_field :myoji_kanji, class: "form-s", placeholder: "例)福田"
          = f.text_field :namae_kanji, class: "form-s", placeholder: "例)尚"
        .name-kana
          .main
            .label お名前カナ（全角）
            %span.require 必須
          = f.text_field :myoji_kana, class: "form-s", placeholder: "例)フクダ"
          = f.text_field :namae_kana, class: "form-s", placeholder: "例)ナオ"
        .birthday
          .main
            .label 生年月日
            %span.require 必須
          = raw sprintf(f.date_select(:birthday, use_month_numbers: true, start_year: 1900, end_year:2019, default: Date.new(1990, 1, 1), date_separator: '%s'), '年', '月')+'日'
          .info
            %p.text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります
        .info-text
          「次へ進む」のボタンを押すことにより、
          = link_to "利用規約", class: "term"
          に同意したものとみなします。
        .next
          .next__btn
            = f.submit "次へ進む", class: "next__btn--red"
  .footer