%footer.signup-container__footer
  %nav.signup-container__footer__nav
    %ul.signup-container__footer__nav__ul
      %li.signup-container__footer__nav__ul__li
        = link_to "" do
          プライバシーポリシー
      %li.signup-container__footer__nav__ul__li
        = link_to "" do
          Fmarket利用規約
      %li.signup-container__footer__nav__ul__li
        = link_to "" do
          特定商取引に関する表記
  = link_to root_path, class: "signup-container__footer__logo" do
    = image_tag 'logos/logo_gray.svg', alt: 'mercari'
  %p.signup-container__footer__copy
    &copy 2019 Fmarket