.show-container__side
  %nav.mypage-nav
    %ul.mypage-nav__ul
      = link_to user_path(current_user) do
        %li.mypage-nav__ul__li
          マイページ
      = link_to user_path(current_user) do
        %li.mypage-nav__ul__li
          お知らせ
      = link_to user_path(current_user) do
        %li.mypage-nav__ul__li
          やることリスト
      = link_to user_path(current_user) do
        %li.mypage-nav__ul__li
          やることリスト
      = link_to purchased_trading_items_user_path(current_user) do
        %li.mypage-nav__ul__li
          購入した商品-取引中
    %h3.mypage-nav__head メルペイ
    %ul.mypage-nav__ul
      %li.mypage-nav__ul__li
        売上・振込申請
      %li.mypage-nav__ul__li
        ポイント
    %h3.mypage-nav__head 設定
    %ul.mypage-nav__ul
      = link_to edit_user_path(current_user) do
        %li.mypage-nav__ul__li
          プロフィール
      = link_to deliver_address_user_path(current_user) do
        %li.mypage-nav__ul__li
          発送元・お届け先住所変更
      = link_to new_user_card_path(current_user) do
        %li.mypage-nav__ul__li
          支払い方法
      %li.mypage-nav__ul__li
        メール/パスワード
      = link_to identification_user_path(current_user) do
        %li.mypage-nav__ul__li
          本人情報確認
      %li.mypage-nav__ul__li
        電話番号の確認
      = link_to logout_user_path do
        %li.mypage-nav__ul__li
          ログアウト