= render "layouts/header"
-# - breadcrumb :logout
= render "layouts/breadcrumbs"
.background
  .show-container.clearfix
    = render "users/side"
    %section.exhibit__items
      %h2.exhibit__items--header 購入した商品
      %ul.exhibit__items--container
        %li.exhibit__items--container__li
          %h3.exhibit__items--container__li__title--left
            = link_to exhibit_items_user_path(current_user) do
              出品中
        %li.exhibit__items--container__li
          %h3.exhibit__items--container__li__title--center
            = link_to user_path(current_user) do
              取引中
        %li.exhibit__items--container__li
          %h3.exhibit__items--container__li__title--right
            = link_to user_path(current_user) do
              売却済
      .exhibit__items--content
        %ul.tab-content__notification
          - @exhibit_items.each do |exhibit_items| 
            %li.tab-content__notification__list
              = exhibit_items.name
            = link_to user_path(current_user) do
              -# %figure
              -# .tab-content__notification__body
              -#   -# 後日実装します....
= render "layouts/footer"