= render "layouts/header"
- breadcrumb :purchased_trading_items_user
= render "layouts/breadcrumbs"
.background
  .show-container.clearfix
    = render "users/side"
    %section.purchased__trading__items
      %h2.purchased__trading__items--header 購入した商品
      %ul.purchased__trading__items--container
        %li.purchased__trading__items--container__li
          %h3.purchased__trading__items--container__li__title--left
            = link_to purchased_trading_items_user_path(current_user) do
              取引中
        %li.purchased__trading__items--container__li
          %h3.purchased__trading__items--container__li__title--right
            = link_to purchased_trading_items_user_path(current_user) do
              過去の取引
      .purchaed__trading__items__notification
        %ul.purchaed__trading__items__notification__content
          - @purchased_trading_items.each do |purchased_trading_items|
            %li.purchaed__trading__items__notification__cotent--list
              = link_to item_path(purchased_trading_items.item_id) do
                .purchaed__trading__items__notification__content--product
                  = image_tag purchased_trading_items.item.images.first, size: "48x48", class: "purchased__trading__items__notification__content--product__image" 
                  .purchaed__trading__items__notification__content--product__right
                    %span.purchaed__trading__items__notification__content--product__right__text
                      = purchased_trading_items.item.name
                    .purchaed__trading__items__notification__content--product__right__status
                      %span.purchaed__trading__items__notification__content--product__right__status__box
                        #{purchased_trading_items.item.status}
  = render "layouts/sell-btn"
= render "layouts/footer"
