.background
  .show-container.clearfix
    .show-container__side
      %nav.mypage-nav
        %ul.mypage-nav__ul
          = link_to user_path(current_user) do
            %li.mypage-nav__ul__li
              マイページ
          = link_to user_path(current_user) do
            %li.mypage-nav__ul__li
              お知らせ
          = link_to user_path(current_user) do
            %li.mypage-nav__ul__li
              やることリスト
        %h3.mypage-nav__head メルペイ
        %ul.mypage-nav__ul
          %li.mypage-nav__ul__li
            売上・振込申請
          %li.mypage-nav__ul__li
            ポイント
        %h3.mypage-nav__head 設定
        %ul.mypage-nav__ul
          = link_to user_path(current_user) do
            %li.mypage-nav__ul__li
              プロフィール
          %li.mypage-nav__ul__li
            発送元・お届け先住所変更
          %li.mypage-nav__ul__li
            支払い方法
          %li.mypage-nav__ul__li
            メール/パスワード
          %li.mypage-nav__ul__li
            本人情報
          %li.mypage-nav__ul__li
            電話番号の確認
          = link_to destroy_user_session_path do
            %li.mypage-nav__ul__li
              ログアウト
    .show-container__main
      %section.show-container__main__user-icon
        = link_to user_path(current_user), class: "show-container__main__user-icon__link" do
          %figure.show-container__main__user-icon__link__image
            = image_tag "sample_item.jpg", size: "60x60"
          %h2.show-container__main__user-icon__link__nickname
            = @nickname
          .show-container__main__user-icon__link__statuses
            .show-container__main__user-icon__link__statuses--rate
              評価
              %span.bold 0
            .show-container__main__user-icon__link__statuses--item
              出品数
              %span.bold 0
      %section.show-container__main__notice-todo
        %ul.mypage-tabs
          %li
            %h3
              = link_to user_path(current_user) do
                お知らせ
          %li
            %h3
              = link_to user_path(current_user) do
                やることリスト
        .tab-content
          %ul.tab-content__notification
            %li
              = link_to user_path(current_user) do
                %figure
                .tab-content__notification__body
      %section.show-container__main__purchased
        購入した商品