
.container
  .contents
    .content
      .content__header
        .content__header__logo
          .image
            = image_tag "/assets/sample_logo.png", size: "185x49"
      .content__main
        .content__main__box
          .content__main__box__header
            %h1.main 商品の情報を入力
          = form_for @item do |f|
            .content__main__box__upload
              .header
                .header__box
                  %h2.main 出品画像
                  %span.require 必須
                  %p.label 最大10枚までアップロードできます
              .container
                - @images.each do |image|
                  .label
                    = image.image
                = f.fields_for :images do |image|
                  .image-upload
                    .box
                      .image-upload--btn
                        = image.file_field :image
            .content__main__box__product
              .name-box
                = f.label "商品名", class: "label"
                %span.require 必須
                = f.text_field :name ,class: "name-filed", placeholder: "商品名（必須40文字まで）" 
                - if @item.errors.any?
                  = @item.errors.full_messages
              .disc-box
                = f.label "商品の説明", class: "label"
                %span.require 必須
                = f.text_area :text, class: "textarea", placeholder: "商品の説明（必須1000文字以内）"
            .content__main__box__detail
              .side
              商品の詳細
              .container
                .cat-box
                  .cat-box__header
                    .label
                    カテゴリー
                    %span.require 必須
                  .cat-box__select
                    .topCat
                    .midCat
                    .botCat
                .size-box
                  .size-box__header
                    .label
                    サイズ
                    %span.require 必須
                  .size-box__select
                .brand-box
                  .brand-box__header
                    .label
                    ブランド
                    %span.arbitary 任意
                  .brand-box__form
                .status-box
                  .status-box__header
                    .label
                    商品の状態
                    %span.require 必須
                  .status-box__select
            .content__main__box__delivery
              .side
              .container
                .burden-box
                  .label
                  配送料の負担
                  %span.require 必須
                .region-box
                  .label
                  発送元の地域
                  %span.require 必須
                .days-box
                  .label
                  発送までの日数
                  %span.require 必須
            .content__main__box__price
              %h3.side 販売価格(300〜9,999,999)    
              .container
                .price-box
                  = f.label "価格", class: "label"
                  %span.require 必須
                  .right 
                  ¥
                  = f.text_field :price, class: "price-filed", placeholder: "（例）300" 
                .fee
                  .fee__left
                  販売手数料(10%)
                  .fee__right
                .profit
                  販売履歴
            .content__main__box__btn
              .edit
                .edit__btn
                  = button_to("変更する", {action: :update}) 
                .cancel__btn
                  = link_to "キャンセル", item_path, class: "btn cancel__btn"
      .content__footer
        .content__footer__navigation
          .policy
          プライバシーポシシー
          .rules
          メルカリ利用規約
          .transLow
          特定商取引に関する表記
        .content__footer__logo
          .logo-image
          
        .content__footer__copyright
          .copyright
          © 2019 Mercari
