.container
  .contents
    .content
      = render "signup/signup-header"
      .content__main
        .content__main__box
          .content__main__box__header
            %h1.main 商品の情報を入力
        = form_for @item do |f|
          .content__main__box__upload
            .upload-contents
              .upload-contents__header-box
                .upload-contents__header-box__label 出品画像
                %span.require 必須
                %p.info 最大10枚までアップロードできます
              .upload-contents__container
                .image-upload
                  .image-upload--btn
                    = f.file_field :images, multiple: true
          .content__main__box__product
            .name-box
              = f.label "商品名", class: "name-box__label"
              %span.require 必須
              = f.text_field :name, class: "name-box__filed", placeholder: "商品名（必須40文字まで）"
              - if @item.errors.any?
                = @item.errors.full_messages
            .disc-box
              = f.label "商品の説明", class: "disc-box__label"
              %span.require 必須
              = f.text_area :text, class: "disc-box__textarea", placeholder: "商品の説明（必須1000文字以内）"
          .content__main__box__detail
            .side-label 商品の詳細
            .form-container
              .cat-box
                .cat-box__header-box
                  .cat-box__header-box__label カテゴリー
                  %span.require 必須
                .cat-box__select
                  .top-cat 
                    = f.select :condition, Item.conditions.keys, {prompt: '---'}, {class: "cat__select"}
                  .mid-cat
                    = f.select :condition, Item.conditions.keys, {prompt: '---'},  {class: "cat__select"}
                  .bot-cat
                    = f.select :condition, Item.conditions.keys, {prompt: '---'},  {class: "cat__select"}
              .size-box
                .size-box__header-box
                  .size-box__header-box__label サイズ
                  %span.require 必須
                = f.select :condition, Item.conditions.keys, {prompt: '---'}, {class: "size-box__select"}
              -# 現在別ブランチにて実装中なので一旦コメントアウトしておきます
              -# .brand-box
              -#   .brand-box__header-box
              -#     .brand-box__header-box__label ブランド
              -#     %span.arbitary 任意
              -#   .brand-box__form
              -#     = f.text_field :name ,class: "brand-field", placeholder: "例）シャネル" 
              .status-box
                .status-box__header-box
                  = f.label "商品の状態", class: "status-box__header-box__label"
                  %span.require 必須
                = f.select :condition, Item.conditions.keys, {prompt: '---'}, {class: "status-box__select"}
          .content__main__box__delivery
            .side-label 配送について
            .form-container
              .burden-box
                .burden-box__header-box
                  = f.label "配送料の負担", class: "burden-box__header-box__label"
                  %span.require 必須
                = f.select :shipping_fee, Item.shipping_fees.keys, {prompt: '---'}, {class: "burden-box__select"}
              .region-box 
                .region-box__header-box
                  = f.label "発送元の地域", class: "header-box__label"
                  %span.require 必須
                = f.select :shipping_from, Item.shipping_froms.keys, {prompt: '---'}, {class: "region-box__select"}
              .days-box
                .days-box__header-box
                  = f.label "発送までの日数", class: "header-box__label"
                  %span.require 必須
                = f.select :shipping_date, Item.shipping_dates.keys, {prompt: '---'}, {class: "days-box__select"}
          .content__main__box__price
            .side-label 販売価格(300〜9,999,999)    
            .form-container
              .price-box
                .price-box__left
                  = f.label "価格", class: "price-box__left__label"
                  %span.require 必須
                .price-box__right
                  .price-box__right__yen  ¥
                  .price-box__right__field
                    = f.text_field :price, class: "price-field", placeholder: "（例）300" 
              .fee
                .fee__label
                  販売手数料(10%)
                  .fee__label__preview  
                  -#  JSが当たってるのでクラス名変更注意
              .profit
                .profit__label 販売利益
                .profit__preview
                  -#  JSが当たってるのでクラス名変更注意
          .content__main__box__btn
            .exhibit
              = f.submit "変更する", class: "exhibit__btn"
            .return
              = link_to "キャンセル", root_path, class: "return__btn"
      .content__footer
        = render "signup/signup-footer"

