= render "layouts/header"
.container
  .news
    .news__title
  .contents
    .content
      .content__banner
        人気のカテゴリー
        .content__banner__cats
          %ul.content__banner__cats__list
            %li.content__banner__cats__list__tag
              レディース
            %li.content__banner__cats__list__tag
              メンズ
            %li.content__banner__cats__list__tag
              家電・スマホ・カメラ
            %li.content__banner__cats__list__tag
              おもちゃ・ホビー・グッズ
      .content__box
        .content__box__header
          .content__box__header__title
            全アイテム一覧
          = link_to  "" do 
            .content__box__header__more
              もっとみる  
              %i.fa.fa-chevron-right
        .content__box__items
          %ul.content__box__items__lists
            - @items.each do |item|
              %li.content__box__items__lists__list
                .product 
                  = link_to item_path(item.id), class: "product--link" do
                    %figure.product__link__thumbnail
                      .product__link__thumbnail__info
                        -# .hoge
                        -#   %p SOLD
                        %span.product__link__thumbnail__info--price
                          ¥#{item.price.to_s(:delimited)}
                        = image_tag item.images.first, size: "180x180", class: "product__link__thumbnail__info--image"
                      %figcaption.product__caption
                        %span.product__caption--text 
                        = truncate(item.name, length:22)
  = render "layouts/sell-btn"
= render "layouts/footer"