.container
  .news
    .news__title
      ニュースは今後実装します...
  .contents
    .content
      .content__banner
        人気のカテゴリー
        .content__banner__cats
          %ul.content__banner__cats__list
            %li.content__banner__cats__list__tag
              レディース
            %li.content__banner__cats__list__tag
              メンズ
            %li.content__banner__cats__list__tag
              家電・スマホ・カメラ
            %li.content__banner__cats__list__tag
              おもちゃ・ホビー・グッズ
      .content__box
        .content__box__header
          .content__box__header__title
            テスト用全アイテム一覧
          .content__box__header__more
            もっと見る
            = fa_icon "chevron-right"
        .content__box__items
          %ul.content__box__items__lists
            - @items.each do |item|
              %li.content__box__items__lists__list
                .product
                  = link_to item_path(item.id), class: "product--link" do
                    %figure.product__link__thumbnail
                      .product__link__thumbnail__info
                        %span.product__link__thumbnail__info--price ¥#{item.price.to_s(:delimited)}
                        = image_tag 'sample_item.jpg', size: "180x180", class: "product__link__thumbnail__info--image"
                      %figcaption.product__caption
                        %span.product__caption--text #{item.text}
  .sell_btn
    = link_to root_path do
      %p 出品
      .sell_icon
        %i.fa.fa-camera