= render "layouts/header"

.details
  .detail
    .detail__header #{@item.name}
    .detail__body
      .detail__body--left 
        .items-photo__upper
          = image_tag @item.images.first, size: "300x300", class: "items-photo__upper--thumbnail"
        %ul.items-photo__lower__top
          %li.items-photo__lower__top__box
          - @item.images.each do |image|
            = image_tag image,size: "60x60", class: "items-photo__lower__top__box--slide"
      .detail__body--right
        %table
          %tr
            %th 出品者
            %td
              = link_to "#{@item.user.nickname}", user_path(@item.user_id)
              -# .evaluate__icon
              -#   .evaluate__icon__smile
              -#     %i.fa.fa-smile-o
              -#     80
              -#   .evaluate__icon__meh-o
              -#     %i.fa.fa-meh-o
              -#     50
              -#   .evaluate__icon__frown
              -#     %i.fa.fa-frown-o
              -#     30
          %tr
            %th カテゴリー
            %td
              .top_cat
              = link_to '> メンズ ', item_path
              .middle_cat
              = link_to '> トップス ', item_path
              .bottom_cat
              = link_to '> ポロシャツ ', item_path
          %tr
            %th ブランド
            %td 
              = link_to 'ラブ', item_path
          %tr
            %th 商品のサイズ
            %td 16cm ・ 16.5cm
          %tr
            %th 商品の状態
            %td #{@item.condition}
          %tr
            %th 配送料の負担
            %td #{@item.shipping_fee}
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td #{@item.shipping_from}
          %tr
            %th 発送日の目安
            %td #{@item.shipping_date}

      .item__price
        %span.item__price__bold ¥#{@item.price.to_s(:delimited)}円
        %span.item__price__tax (税込)
        %span.item__price__fee #{@item.shipping_fee}
    - unless @item.user_id == current_user.id  
      .item-buy-btn 
        .buy-text= link_to '購入画面に進む ', new_item_purchase_path(@item.id)
      .item-description
        %P #{@item.text}
      .footer
        .footer__likes
          .footer__likes--icon
            %i.fa.fa-heart
          .footer__likes--text
            = link_to 'いいね！', root_path
        .footer__notes
          .footer__notes--icon
            %i.fa.fa-flag
          .footer__notes--text
            = link_to '不適切な商品の報告', root_path
        .footer__right
          .footer__right--icon
            %i.fa.fa-lock
          .footer__right--text
            = link_to 'あんしん・あんぜんへの取り組み', root_path
  
  - if @item.user_id == current_user.id && @item.status == "出品中"          
    .listing__item__change__box
      .listing__item__change__box--edit
        = link_to '商品を編集する', edit_item_path(@item.id)
      %p.listing__item__change__box--text
        or
      .listing__item__change__box--pause
        = link_to '出品を停止する', pause_item_path(@item.id)
      .listing__item__change__box--delete
        = link_to 'この商品を削除する', item_path(@item.id), method: "delete" 
  - elsif @item.user_id == current_user.id && @item.status == "停止中"          
    .listing__item__change__box
      .listing__item__change__box--edit
        = link_to '商品を編集する', edit_item_path(@item.id)
      %p.listing__item__change__box--text
        or
      .listing__item__change__box--resume
        = link_to '出品を再開する', resume_item_path(@item.id)
      .listing__item__change__box--delete
        = link_to 'この商品を削除する', item_path(@item.id), method: "delete" 
    
  .comments
    .comments__header
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea.comments__middle
    %button.comments__footer
      %span コメントする

  .link
    .link__bar
      .link__bar__left
        .link__bar__left--icon
          %i.fa.fa-angle-left
        .link__bar__left--text
          = link_to ' 専用*9本', root_path
      .link__bar__right
        .link__bar__right--text
          = link_to 'レディーアップルシード コート 95 美品', root_path
        .link__bar__right--icon
          %i.fa.fa-angle-right
        
  .icons
    .icons__bar
      %i.fab.fa-facebook-square
      %i.fab.fa-twitter
      %i.fab.fa-pinterest

  
  .item__boxes
    .item__boxes__header  
      = link_to "#{@item.user.nickname}さんのその他の商品", user_path
    .item__boxes__main
      %ul.item__boxes__main__lists
        %li.item__boxes__main__lists__content
          .item__boxes__main__lists__content--image
          = image_tag @item.images.first, size: "231x180", class: "item__boxes__main__lists__content--image--size"
          .item__boxes__main__lists__content__lower
            .item__boxes__main__lists__content__lower--name #{@item.name}
            .item__boxes__main__lists__content__lower--price ¥#{@item.price.to_s(:delimited)}
          
          
  .item__boxes
    .item__boxes__header  
      = link_to 'ブランドその他商品', item_path
    .item__boxes__main
      %ul.item__boxes__main__lists
        %li.item__boxes__main__lists__content
          .item__boxes__main__lists__content--image
          = image_tag 'christmasA7_03359_TP_V4.jpg', size: "210x180", class: "item__boxes__main__lists__content--image--size"
          .item__box__main__lists__content__footer
            .item__box__main__lists__content__footer--text
              商品紹介メッセージ
            .item__box__main__lists__content__text--price
              商品価格
        %li.item__boxes__main__lists__content
          .item__boxes__main__lists__content--image
          = image_tag 'christmasA7_03359_TP_V4.jpg', size: "210x180", class: "item__boxes__main__lists__content--image--size"
          .item__box__main__lists__content__footer
            .item__box__main__lists__content__footer--text
              商品紹介メッセージ
            .item__box__main__lists__content__text--price
              商品価格
        %li.item__boxes__main__lists__content
          .item__boxes__main__lists__content--image
          = image_tag 'christmasA7_03359_TP_V4.jpg', size: "210x180", class: "item__boxes__main__lists__content--image--size"
          .item__box__main__lists__content__footer
            .item__box__main__lists__content__footer--text
              商品紹介メッセージ
            .item__box__main__lists__content__text--price
              商品価格
        %li.item__boxes__main__lists__content
          .item__boxes__main__lists__content--image
          = image_tag 'christmasA7_03359_TP_V4.jpg', size: "210x180", class: "item__boxes__main__lists__content--image--size"
          .item__box__main__lists__content__footer
            .item__box__main__lists__content__footer--text
              商品紹介メッセージ
            .item__box__main__lists__content__text--price
              商品価格
        %li.item__boxes__main__lists__content
          .item__boxes__main__lists__content--image
          = image_tag 'christmasA7_03359_TP_V4.jpg', size: "210x180", class: "item__boxes__main__lists__content--image--size"
          .item__box__main__lists__content__footer
            .item__box__main__lists__content__footer--text
              商品紹介メッセージ
            .item__box__main__lists__content__text--price
              商品価格
        %li.item__boxes__main__lists__content
          .item__boxes__main__lists__content--image
          = image_tag 'christmasA7_03359_TP_V4.jpg', size: "210x180", class: "item__boxes__main__lists__content--image--size"
          .item__box__main__lists__content__footer
            .item__box__main__lists__content__footer--text
              商品紹介メッセージ
            .item__box__main__lists__content__text--price
              商品価格
= render "layouts/footer"