%ul.category-nav-parents
  - @parent_categories.each do |parent|
    %li.category-nav-parents__parent
      = link_to root_path do
        .category
          = parent.name
      %ul.category-nav-children
        - parent.children.each do |child|
          %li.category-nav-children__child
            .category
              = link_to "" do
                = child.name
            %ul.category-nav-grandchildren
              - child.children.each do |grandchild|
                %li.category-nav-grandchildren__grandchild
                  .category
                    = link_to "" do
                      = grandchild.name