.footer
  .footer__upper
    .footer__upper__left
      .footer__upper__left--text1
        %p スマホでかんたんフリマアプリ
      .footer__upper__left--text2
        %p 今すぐ無料ダウンロード！
      .footer__upper__right
        .footer__upper__right--logo
          %p
            = image_tag 'logos/logo_red.svg', size: "48x48"
          %p
            = link_to "https://apps.apple.com/jp/app/id667861049?l=ja" do
              = image_tag 'badges/App_Store_Badge.svg', class: "logo-image"
          %p
            = link_to "https://apps.apple.com/jp/app/id667861049?l=ja" do
              = image_tag 'badges/google-play-badge.png', size: "134x40", class: "logo-image"

  .footer__lower__wrapper
    .footer__lower
      .footer__lower--mercari.footer__lower--size
        %ul
          %li.top メルカリについて
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
        .footer__lower__mercari--icon
          .footer__icon
            =link_to("https://twitter.com/mercari_jp") do
              %i.fab.fa-twitter.icon_upper
          .footer__icon
            =link_to("https://www.facebook.com/mercarijp") do
              %i.fab.fa-facebook-square.icon_lower

      .footer__lower--help.footer__lower--size
        %ul
          %li.top ヘルプ&ガイド
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリ安心・安全宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス

      .footer__lower--privacy.footer__lower--size
        %ul
          %li.top プライバシーと利用規約
          %li メルカリ利用規約
          %li あんしんスマホサポート制度に関する利用特約
          %li コンプライアンスポリシー
      .footer__lower--null.footer__lower--size
        %ul
          %li.top.null
          %li 個人データの安全管理に関わる基本方針
          %li 特定商取引に関する表記
          %li 資産決済法に基づく表示
          %li 法令遵守と犯罪抑止のために
      .footer__lower--country.footer__lower--size
        %ul
          %li.top 国
          %li 日本
          %li United States
    .footer__lower__wrapper__copy
      = link_to root_path do
        = image_tag 'logos/fmarket_logo_custom_white.svg', size: "134x40", class: "logo-image"
      %p.copy &copy Fmarket