.header
  .header-top
    .header__upper
      .header__upper__logo
        %p.toplogo
          = link_to("mercari")
        .header__upper__logo--text
      .header__upper__form
        .header__upper__form--text
          %input.inputform{placeholder: "何かお探しですか？"}
        .header__upper__form--icon
            

    .header__lower
      .header__lower__left
        .catogory__search
          .icon
            =fa_icon "list"
          %p.category_link
            = link_to("カテゴリーから探す")
        .brand__search
          .icon
            =fa_icon "pencil-square-o"
          %p.category_link
            = link_to("ブランドからから探す")

      .header__lower__right
      
        .header__lower__right--good
          .icon
            =fa_icon "heart-o"
          %p.category_link.right
            = link_to("いいね！一覧")
        .header__lower__right--news
          .icon
            =fa_icon "bell-o"
          %p.category_link.right
            = link_to("お知らせ")
        .header__lower__right--todo
          .icon
            =fa_icon "check"
          %p.category_link.right
            = link_to("やることリスト")
        .header__lower__right--mypage
          .icon
            =fa_icon "smile-o"
          %p.category_link.right
            = link_to("マイページ")


  